.movieInfo {
    color: white;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url('https://streamflex-dev-input-4jz99tkb.s3.ap-south-1.amazonaws.com/Movies/Akkare+Akkare+Akkare/Images/akkare+akkare+banner.png');
}

.movieInfo_info {
    padding-top: 150px;
    padding-left: 50px;
}

.movieInfo_infotitle {
    background-color: black;
    opacity: 70%;
    width: 38.6%;
    padding: 50px;
}

.movieInfo_infodiv {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-top: 0px;
    width: 40%;
    background-color: black;
    opacity: 70%;
    padding-right: 30px;
}

.movieInfo_infodiv > h3 {
    font-size: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}

.movieInfo_description {
    padding-left: 50px;
    width: 40%;
    letter-spacing: 2px;
    background-color: black;
    opacity: 70%;
    padding-right: 30px;
}

.movieInfo_cast {
    display: flex;
    flex-direction: row;
    padding-left: 50px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    opacity: 70%;
    width: 40%;
    padding-right: 30px;
}

.movieInfo_cast > h9 {
    margin-right: 10px;
    font-weight: 0px;
}

.playButton {
    display: flex;
    padding-left: 50px;
    padding-top: 0px;
    padding-bottom: 20px;
    background-color: black;
    opacity: 70%;
    width: 42.15%;
    align-items: center;
}

.playButton_icon {
    width: 100px;
    cursor: pointer;
}

.playButton_icon:hover {
    transform: scale(1.10);
}